node_modules/
.DS_Store
*.keystore
*.jks
*.p8
*.pem
*.key
*.cert
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.orig.*
*.hprof
.idea/
.vscode/
*.swp
*.swo
*~
android/app/build/
ios/build/
ios/Pods/
